@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --point_color_r: #e54242;
}
:root {
  --point_color_y: #ffce33;
}
:root {
  --point_color_g: #40c639;
}
:root {
  --point_color_b: #316cff;
}
:root {
  --main_text_color: #101010;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main_text_color);
  font-size: 17px;
  letter-spacing: -0.2px;
  /* 사용자 드래그 불가 */
  user-select: none;
}

.container {
  /* position: relative; */
  width: 100%;
  height: fit-content;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  position: relative;
}

.con {
  width: 100%;
  height: 100%;
  padding: 0px 142px;
  padding-left: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

/* 로고 영역 */
.con > h1 {
  width: 176px;
  height: 100px;
  margin-top: 3.5px;
}

/* 메뉴 영역 */
#gnb {
  width: fit-content;
  height: 100%;
  position: relative;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 40px;
  position: relative;
}

#gnb > ul > li {
  width: 110px;
  height: fit-content;
  padding-bottom: 40px;
}

#gnb > ul > li:hover > a {
  background-color: #101010;
  color: #fff;
}

#gnb > ul > li > a {
  margin-top: 32px;
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 50px;
  box-sizing: border-box;
  transition-duration: 0.08s;
  transition-timing-function: linear;
}

/* 2차 메뉴 영역 */
.submenu {
  width: 110px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  border-top: none;
  transition: 0.3s;
  top: 100px;
}

#gnb::after {
  content: "sub_back";
  font-size: 0px;
  display: block;
  position: absolute;
  width: 1000px;
  height: 0px;
  top: 99px;
  left: -20%;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 0px 0px 32px 32px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-top: 0px;
  box-sizing: border-box;
}

#gnb > ul > li > ul > li > a {
  color: #565656;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

#gnb:hover .submenu {
  height: 300px;
}
#gnb:hover::after {
  height: 300px;
  border: 1px solid #ededed;
  border-top: 0px;
}

#gnb > ul > li > ul > li:hover > a {
  font-weight: 700;
  font-size: 17px;
}

#gnb > ul > li > ul > li {
  height: 40px;
  margin-top: 5px;
}

/* 헤더 아이콘 영역 */
.header_icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

#gnb02 {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #fffffff8;
  box-sizing: border-box;
  top: 100px;
  right: -2000px;
  padding-top: 20px;
  padding-right: 10px;
  transition: 0.3s;
  overflow-y: auto;
}

#gnb02 > ul {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#gnb02 > ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  display: flex;
  gap: 50px;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
}

#gnb02 > ul > li:last-child {
  border: none;
  margin-bottom: 100px;
}

#gnb02 > ul > li > a {
  height: fit-content;
  width: 25%;
  color: #000;
  font-size: 19px;
  border-radius: 50px;
  box-sizing: border-box;
  transition-duration: 0.08s;
  transition-timing-function: linear;
  margin-bottom: 20px;
  font-weight: 600;
  padding-top: 20px;
}

.menu {
  cursor: pointer;
}

.submenu02 {
  background-color: #f1f1f188;
  width: 70%;
  padding: 20px 25px;
  border-radius: 32px;
  box-sizing: border-box;
  padding-bottom: 0px;
}

#gnb02 > ul > li > ul > li:hover > a {
  font-weight: 700;
  font-size: 17px;
  color: #000;
}

.submenu02 > li {
  margin-bottom: 20px;
}

.submenu02 > li > a {
  color: #565656;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

.close {
  display: none;
  cursor: pointer;
}

.header_icons > div:nth-of-type(3) {
  display: none;
  width: 27px;
  height: 27px;
}

main {
  width: 100%;
  height: fit-content;
}

/* 푸터 영역 */
footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eee;
}

footer > div {
  width: 1582px;
  height: fit-content;
  margin: 38px auto;
  display: flex;
  align-items: center;
}

footer > div > div {
  display: flex;
  font-size: 14px;
  color: #b8b8b8;
  gap: 20px;
  margin-left: 70px;
}

footer > div > p {
  margin-left: auto;
  font-size: 14px;
  color: #b8b8b8;
}
