@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("./reset.css");

/* 스타일 가이드 */
:root {
  --point_color_r: #e54242;
}
:root {
  --point_color_y: #ffce33;
}
:root {
  --point_color_g: #40c639;
}
:root {
  --point_color_b: #316cff;
}
:root {
  --main_text_color: #101010;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #101010;
}

/* 드래그 색상 변경 */
::selection {
  background-color: #ddd;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--main_text_color);
  font-size: 17px;
  letter-spacing: -0.2px;
  /* 사용자 드래그 불가 */
  user-select: none;
}

.container {
  /* position: relative; */
  width: 100%;
  height: fit-content;
}

/* 헤더 영역 */
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: 0.4s;
}

header:hover {
  background-color: #fff;
}

/* 사용자가 스크롤을 내리면 border-bottom을 추가 */
.header-scrolled {
  border-bottom: 1px solid #ededed;
  background-color: rgba(255, 255, 255, 0.95);
}

.con {
  width: 100%;
  height: 100%;
  padding: 0px 142px;
  padding-left: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

/* 로고 영역 */
.con > h1 {
  width: 176px;
  height: 100px;
  margin-top: 3.5px;
}

/* 메뉴 영역 */
#gnb {
  width: fit-content;
  height: 100%;
  position: relative;
}

#gnb > ul {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 40px;
  position: relative;
}

#gnb > ul > li {
  width: 110px;
  height: fit-content;
  padding-bottom: 40px;
}

#gnb > ul > li:hover > a {
  background-color: #101010;
  color: #fff;
}

#gnb > ul > li > a {
  margin-top: 32px;
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 50px;
  box-sizing: border-box;
  transition-duration: 0.08s;
  transition-timing-function: linear;
}

/* 2차 메뉴 영역 */
.submenu {
  width: 110px;
  height: 0px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  border-top: none;
  transition: 0.3s;
  top: 100px;
}

#gnb::after {
  content: "sub_back";
  font-size: 0px;
  display: block;
  position: absolute;
  width: 1000px;
  height: 0px;
  top: 98px;
  left: -20%;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 0px 0px 32px 32px;
  transition: 0.3s;
  border: 1px solid transparent;
  border-top: 0px;
  box-sizing: border-box;
}

#gnb > ul > li > ul > li > a {
  color: #565656;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

#gnb:hover .submenu {
  height: 300px;
}
#gnb:hover::after {
  height: 300px;
  border: 1px solid #ededed;
  border-top: 0px;
}

#gnb > ul > li > ul > li:hover > a {
  font-weight: 700;
  font-size: 17px;
}

#gnb > ul > li > ul > li {
  height: 40px;
  margin-top: 5px;
}

/* 헤더 아이콘 영역 */
.header_icons {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}

#gnb02 {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #fffffff8;
  box-sizing: border-box;
  top: 100px;
  right: -2000px;
  padding-top: 20px;
  padding-right: 10px;
  transition: 0.3s;
  overflow-y: auto;
}

#gnb02 > ul {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#gnb02 > ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  display: flex;
  gap: 50px;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
}

#gnb02 > ul > li:last-child {
  border: none;
  margin-bottom: 100px;
}

#gnb02 > ul > li > a {
  height: fit-content;
  width: 25%;
  color: #000;
  font-size: 19px;
  border-radius: 50px;
  box-sizing: border-box;
  transition-duration: 0.08s;
  transition-timing-function: linear;
  margin-bottom: 20px;
  font-weight: 600;
  padding-top: 20px;
}

.menu {
  cursor: pointer;
}

.submenu02 {
  background-color: #f1f1f188;
  width: 70%;
  padding: 20px 25px;
  border-radius: 32px;
  box-sizing: border-box;
  padding-bottom: 0px;
}

#gnb02 > ul > li > ul > li:hover > a {
  font-weight: 700;
  font-size: 17px;
  color: #000;
}

.submenu02 > li {
  margin-bottom: 20px;
}

.submenu02 > li > a {
  color: #565656;
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

.close {
  display: none;
  cursor: pointer;
}

.header_icons > div:nth-of-type(3) {
  display: none;
  width: 27px;
  height: 27px;
}

main {
  width: 100%;
  height: fit-content;
}

/* 검색창 클릭 시 반영 부분 */
.close02 {
  display: none;
  cursor: pointer;
}
.serch {
  cursor: pointer;
}
.serch_screen {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #00000075;
  z-index: 999;
  display: none;
}
.serch_wrap {
  width: 100vw;
  height: fit-content;
  background-color: #fff;
  transform: translateY(-5000px);
  transition: 0.3s;
}
.serch_box {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-left: 1vw;
}

.serch_box input {
  width: 40%;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  font-size: 17px;
  padding: 0px 20px;
  box-sizing: border-box;
}
.serch_box > div {
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0px 0px;
}
.serch_hashtag {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
  padding: 80px 0px;
  padding-bottom: 50px;
  text-align: center;
}
.serch_hashtag > div {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 20px;
  padding-left: 1.5vw;
  justify-content: center;
}
.serch_hashtag > div:first-child {
  width: 100%;
  height: 100%;
  gap: 15px;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
}
.serch_hashtag > div:first-child > p:nth-of-type(1) {
  padding: 1.5px 10px;
  background-color: #101010;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  text-align: center;
  line-height: 18px;
}
.serch_hashtag > div:first-child > p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
}
.serch_hashtag > div:last-child {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
.serch_hashtag > div:last-child > p {
  padding: 13px 40px;
  background-color: #f0f0f0;
  font-size: 16px;
  border-radius: 32px;
  margin-top: 30px;
  font-weight: 300;
  transition: 0.3s;
  border: 1px solid #fff;
  cursor: pointer;
}
.serch_hashtag > div:nth-of-type(2) > p {
  padding: 13px 40px;
  background-color: #f0f0f0;
  font-size: 16px;
  border-radius: 32px;
  font-weight: 300;
  transition: 0.3s;
  border: 1px solid #fff;
  cursor: pointer;
}

.serch_hashtag > div:last-child > p:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #f3f3f3;
  font-weight: 400;
}
.serch_hashtag > div:nth-of-type(2) > p:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #f3f3f3;
  font-weight: 400;
}
/* 섹션 1번 - 메인비주얼 */
.sec1_mainvisual {
  width: 92%;
  height: 824px;
  padding: 100px 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  position: relative;
}

.sec1_mainvisual > div:first-child > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 48%;
  z-index: -1;
  position: absolute;
}

/* 메인 비주얼 이미지 영역 */
.sec1_mainvisual > div:first-child {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 32px;
  position: relative;
}

.sec1_mainvisual > div:last-child {
  width: 100%;
  height: 100%;
}

/* 메인 비주얼 글자 영역 */
.sec1_big_text {
  position: absolute;
  bottom: 80px;
  left: 100px;
  color: #fff;
}

.sec1_big_text > h2 {
  font-size: 48px;
  line-height: 1.7;
  font-weight: 600;
  letter-spacing: -3px;
}

.sec1_mainvisual > div > .plus_button {
  position: absolute;
  bottom: -40px;
  right: 24px;
}

/* 섹션 2번 - 이벤트 소식 */
.sec2_event_news {
  width: 1460px;
  height: 88px;
  background-color: #f8f8f8;
  border-radius: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 62px auto;
  transition: 0.3s;
  border: 1px solid #ffffff;
}

.sec2_event_news:hover {
  background-color: #fdfdfd;
  box-shadow: 0px 0px 3px 3px #dddddd38;
}

/* 이벤트 박스 (텍스트,더보기) */
.event_box {
  width: 100%;
  height: 34px;
  display: flex;
  margin-left: 155px;
}

.event_box > p:nth-of-type(1) {
  width: 110px;
  height: 100%;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
  font-weight: 600;
  border-right: 1px solid #cbcbcb;
}

.event_box > p:nth-of-type(1)::before {
  content: "플러스 4컬러 아이콘";
  display: block;
  width: 35px;
  height: 35px;
  font-size: 0px;
  float: left;
  position: absolute;
  left: 88px;
  background-image: url(/img/layout/four_color_icon.svg);
  background-repeat: no-repeat;
}

.event_box > p:nth-of-type(2) {
  width: 840px;
  padding-left: 30px;
  box-sizing: border-box;
}

.event_box > p:nth-of-type(2) > a {
  width: 100%;
  height: 100%;
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
  color: #767676;
}

.event_box > p:nth-of-type(3) {
  width: 134px;
  height: 100%;
  line-height: 34px;
  border-right: 1px solid #cbcbcb;
  font-size: 18px;
  font-weight: 500;
}

/* 이벤트 더보기 */
.event_plus {
  width: 172px;
  height: 100%;
}

.event_plus > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.event_plus > a > p {
  line-height: 34px;
  color: #000;
}

/* 섹션 3번 - 카테고리 */
.sec3_category {
  width: 1460px;
  height: 266px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 0 auto;
}

.category_box {
  width: 160px;
  height: 100%;
}

.category_img_box {
  width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid #f3f3f3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_box > p {
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 42px;
  font-weight: 400;
}

.category_img_box img {
  filter: grayscale(100%);
  transition: 0.2s;
  max-width: 120px;
}

.category_box:hover .category_img_box img {
  transform: scale(1.15);
  filter: grayscale(0%);
}

.category_box:nth-of-type(1) .category_img_box img {
  max-width: 80px;
}
.category_box:nth-of-type(2) .category_img_box img {
  max-width: 80px;
}
.category_box:nth-of-type(6) .category_img_box img {
  max-width: 80px;
}

/* 섹션 4번 신상게임 */
.sec4_new_topic {
  width: 100%;
  height: fit-content;
  top: 1630px;
  overflow: hidden;
}

/* 타이틀 영역 */
.title {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 130px 220px;
  margin-bottom: 74px;
}

.title_text_box > p {
  font-size: 21px;
  margin-bottom: 12px;
}

.title_text_box > h2 {
  font-size: 38px;
  font-weight: 700;
}

/* 콘텐츠 영역 */
.sec4_img_wrap {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  display: flex;
  gap: 40px;
  animation: sec4_slide 30s linear infinite;
}

.sec4_img_box {
  width: 1002px;
  height: 622px;
  overflow: hidden;
  border-radius: 32px;
  position: relative;
  z-index: 1;
}

.sec4_img_wrap:hover {
  animation-play-state: paused;
}

@keyframes sec4_slide {
  0% {
    transform: translateX(-2.7%);
  }
  100% {
    transform: translateX(-53%);
  }
}

.sec4_img {
  position: absolute;
}

/* 섹션 4번 이미지에 마우스 올렸을 경우 */
.sec4_text_img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.485);
  box-sizing: border-box;
  padding: 52px;
  position: absolute;
  display: none;
}

.sec4_img_box:hover .sec4_text_img {
  display: block;
}

.sec4_text_img > div:first-child {
  margin-bottom: 95px;
}

.sec4_text_img > span {
  padding: 10px 25px;
  border-radius: 32px;
  color: #fff;
  font-weight: 500;
}

.sec4_text_img > span:nth-of-type(1) {
  background-color: var(--point_color_r);
  margin-right: 5px;
}

.sec4_text_img > span:nth-of-type(2) {
  background-color: var(--point_color_y);
}

.sec4_text_img > h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.sec4_text_img > p {
  font-size: 29px;
  color: #fff;
}

/* 섹션 4번 - 더보기 버튼 영역 (공통속성) */
.plus_button {
  width: fit-content;
  height: fit-content;
  margin-top: 58px;
  margin-left: auto;
  margin-right: 80px;
}

.plus_button > a {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  padding-left: 45px;
  gap: 20px;
  border-radius: 32px;
  background-color: #101010;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
  margin-bottom: 130px;
}

.plus_button > a:hover {
  background-color: #101010bd;
}

.plus_button > a img {
  animation-play-state: paused;
}

.plus_button > a:hover img {
  animation: button_move 0.6s linear infinite;
  animation-play-state: running;
}

@keyframes button_move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* 섹션 5번 */
.sec5_attention {
  width: 100%;
  height: fit-content;
  background-image: url(../img/layout/fixed_background.png);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* 섹션 5번 - 타이틀 영역 */
.sec5_attention > .title {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
  padding-top: 130px;
  margin-bottom: 50px;
}

.hashtag {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}

.hashtag > span {
  padding: 10px 40px;
  border-radius: 32px;
  background-color: var(--point_color_r);
  color: #fff;
  margin-right: 20px;
  font-weight: 500;
}

.hashtag > span:nth-child(2) {
  background-color: var(--point_color_y);
}
.hashtag > span:nth-child(3) {
  background-color: var(--point_color_g);
}
.hashtag > span:last-child {
  margin-right: 0px;
  background-color: var(--point_color_b);
}

/* 섹션 5번 - 콘텐츠 박스 영역 */
.sec5_con_wrap {
  width: fit-content;
  height: fit-content;
  margin: 75px auto;
}

.sec5_con_box {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 20px;
}

.sec5_con_text {
  width: 807px;
  height: 277px;
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  padding: 10px 55px;
}

.sec5_con_text > p:nth-of-type(1) {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.sec5_con_text > p:nth-of-type(1) > br {
  display: none;
}

.sec5_con_hashtag {
  font-size: 16px;
  color: #515151;
  margin-bottom: 60px;
}

.sec5_con_hashtag > p {
  margin-right: 10px;
}

.sec5_con_price {
  display: flex;
  align-items: end;
}

.sec5_con_price > p:nth-of-type(1) {
  font-size: 18px;
  color: #757575;
  margin-right: 20px;
}

.sec5_con_price > p:nth-of-type(2) {
  font-size: 29px;
  color: #202020;
  font-weight: 800;
}

.sec5_con_price > div {
  display: flex;
  margin-left: auto;
  gap: 8px;
  align-items: center;
  color: #686868;
}

.sec5_con_text:nth-of-type(2) > img {
  margin-top: 22px;
  margin-bottom: 25px;
}

.sec5_con_box:nth-of-type(3) > .sec5_con_text > img {
  margin-top: 14px;
  margin-bottom: 12px;
}

.sec5_con_img {
  width: 635px;
  height: 277px;
  border-radius: 32px;
  overflow: hidden;
  border: 1px solid #fafafa;
  box-sizing: border-box;
}

.sec5_con_img > img {
  transition: 0.3s;
}

.sec5_con_img:hover > img {
  transform: scale(1.1);
}

.sec5_con_wrap > div:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sec5_con_hashtag,
.sec5_con_price {
  display: flex;
}

/* 섹션 5번 - 더보기 버튼 영역 */
.sec5_attention > .plus_button {
  margin-left: 0px;
  width: 1462px;
  margin-right: 0px;
  padding-bottom: 130px;
  justify-content: end;
  margin: 0px auto;
}

.sec5_attention > .plus_button > a {
  margin-left: auto;
  width: fit-content;
  margin-bottom: 0px;
}

/* 섹션 6번 커뮤니티 */
.sec6_community {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.sec6_community > .title {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
  padding-top: 130px;
  padding-bottom: 50px;
}

.swiper {
  width: 90%;
  height: 540px;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  width: 90%;
  height: 400px;
}

.swiper-slide {
  width: 750px;
  height: 370px;
  overflow: hidden;
  border-radius: 32px;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  --swiper-theme-color: #000;
}

/* 섹션 6번 더보기 버튼 영역 */
.sec6_community > .plus_button {
  padding-bottom: 130px;
}

.sec6_community > .plus_button > a {
  margin-bottom: 0px;
}

/* 섹션 7번 추천 패키지 */
.sec7_recommended {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.sec7_recommended > .title {
  margin-bottom: 50px;
}

.sec7_recommended > .hashtag {
  margin-left: 230px;
  margin-bottom: 20px;
}

.sec7_con_wrap {
  width: 1460px;
  height: fit-content;
  margin: 0px auto;
  margin-top: 70px;
}

.sec7_con_wrap {
  display: flex;
  justify-content: space-between;
}

.sec7_row_box {
  width: 524px;
  height: 298px;
  display: flex;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  border-radius: 32px;
  padding: 50px;
  justify-content: space-between;
  padding-right: 30px;
}

.sec7_row_box > div:first-child > p:nth-of-type(1) {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sec7_row_box > div:first-child > p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.sec7_row_box > div:first-child > p:nth-of-type(3) {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

/* 가격 - 더보기 버튼 공통 속성 */
.price_button > a {
  width: 170px;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  padding: 10px;
  padding-right: 25px;
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid #eee;
  transition: 0.3s;
}
.price_button > a > img {
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}

.price_button:hover > a {
  background-color: #f0f0f0;
}

.sec7_con_col {
  width: 432px;
  height: 625px;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 50px;
}

.sec7_con_col > p:nth-of-type(1) {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sec7_con_col > p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.sec7_con_col > img {
  margin: 64px auto;
}

.sec7_con_col:last-child > img {
  margin: 72px auto;
  margin-left: 45px;
}

.sec7_con_col > .price_button > a {
  margin: 0px auto;
}

.sec7_con_col:last-child {
  margin-left: 36px;
}

.sec7_row_box:first-child {
  margin-bottom: 30px;
}

.sec7_con_wrap > div:nth-of-type(2) {
  display: flex;
}

/* 섹션 7번 더보기 버튼 영역 */
.sec7_recommended > .plus_button {
  margin-left: 0px;
  width: 1462px;
  margin-right: 0px;
  padding-bottom: 130px;
  justify-content: end;
  margin: 60px auto;
}

.sec7_recommended > .plus_button > a {
  margin-left: auto;
  width: fit-content;
  margin-bottom: 0px;
}

/* 섹션 8번 - 이용가이드 */
.sec8_guide {
  width: 76%;
  height: 100%;
  margin: 0px auto;
}

.sec8_guide > .title {
  padding: 0px;
  width: 100%;
  margin-left: 0px;
}

.sec8_box_wrap {
  width: 100%;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.sec8_text_box > div > h3 {
  font-size: 28px;
  font-weight: 600;
}

.sec8_text_box > div {
  width: 770px;
  height: fit-content;
  margin-top: 35px;
}

.sec8_text_box > div > div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #f0f0f0;
}

.sec8_text_box > div > div > p:last-child > a {
  width: fit-content;
  height: 24px;
  line-height: 24px;
  padding: 0px 50px;
  border-left: 1px solid #f0f0f0;
  color: #000;
}

.sec8_text_box > div > div > p:last-child > a > img {
  float: right;
  margin-left: 10px;
}

.sec8_img_box > .plus_button {
  margin-top: 60px;
  margin-left: 80px;
}

/* 섹션 9번 - 자주 묻는 질문 */
.sec9_question {
  width: 76%;
  height: fit-content;
  margin: 0px auto;
}

.sec9_question > .title {
  padding: 0px;
  width: 100%;
  margin-left: 0px;
}

.sec9_box_wrap {
  width: 100%;
  height: fit-content;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.sec9_img_box > .plus_button {
  margin-top: 55px;
  margin-left: 55px;
}

.sec9_text_box {
  width: fit-content;
  height: fit-content;
}

.sec9_text {
  width: 100%;
  height: fit-content;
}

.sec9_text > div {
  width: 100%;
  height: fit-content;
  display: flex;
}

.sec9_text > div:first-child {
  padding-top: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.sec9_text:first-child > div:first-child {
  padding-top: 0px;
}

.sec9_text > div:last-child {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 27px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.sec9_text > div > p:first-child {
  font-size: 20px;
  font-weight: 700;
  margin-right: 50px;
}

.sec9_text > div:first-child > p:last-child {
  font-size: 20px;
  font-weight: 600;
}

.sec9_text > div:last-child > p:last-child {
  font-size: 19px;
  font-weight: 300;
}

.sec9_text > div:last-child > p:first-child {
  margin-left: 3px;
}

/* 푸터 영역 */
footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eee;
}

footer > div {
  width: 100%;
  height: fit-content;
  margin: 38px auto;
  display: flex;
  align-items: center;
  padding: 0px 120px;
  box-sizing: border-box;
}

footer > div > div {
  display: flex;
  font-size: 14px;
  color: #b8b8b8;
  gap: 20px;
  margin-left: 70px;
}

footer > div > p {
  margin-left: auto;
  font-size: 14px;
  color: #b8b8b8;
}
