@charset "utf-8";

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    padding: 0px 12px;
    box-sizing: border-box;
  }
  /* 헤더영역 */
  .con {
    padding: 0px 35px;
    padding-left: 10px;
  }

  /* 로고 영역 */
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
  }
  .con > h1 {
    width: 125px;
    height: 72px;
    align-self: center;
  }

  .con > h1 > a {
    width: 100%;
    height: 100%;
  }

  .con > h1 > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 2px;
  }

  /* 헤더 메뉴 영역 */
  #gnb {
    display: none;
  }

  /* 헤더 아이콘 영역 */
  .header_icons > div:nth-of-type(1) {
    display: none;
  }
  .header_icons > div:nth-of-type(3) {
    display: flex;
  }

  /* 섹션 1번 - 메인비주얼 */
  .sec1_mainvisual {
    width: 100%;
    height: 100vh;
    max-height: 824px;
    padding: 100px 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .sec1_mainvisual > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 48%;
  }

  /* 메인 비주얼 글자 영역 */
  .sec1_big_text {
    bottom: 120px;
    left: 20px;
    letter-spacing: -2px;
  }
  .sec1_big_text > h2 {
    font-size: 33px;
  }

  .sec1_mainvisual > div > .plus_button {
    bottom: -100px;
    right: -60px;
  }

  .sec1_mainvisual > div > .plus_button > a {
    padding: 15px 5vw;
    font-size: 16px;
  }

  /* 섹션 2번 - 이벤트 소식 */
  .sec2_event_news {
    width: 94%;
    height: 80px;
  }

  /* 이벤트 박스 (텍스트,더보기) */
  .event_box {
    margin-left: 40px;
  }
  .event_box > p:nth-of-type(1) {
    font-size: 17px;
    width: 25%;
  }
  .event_box > p:nth-of-type(1)::before {
    display: none;
  }
  .event_box > p:nth-of-type(2) {
    width: 65%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .event_box > p:nth-of-type(2) > a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
  }
  .event_box > p:nth-of-type(3),
  .event_plus {
    display: none;
  }

  /* 섹션 3번 - 카테고리 */
  .sec3_category {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
  }

  .category_box {
    width: 120px;
    height: 100%;
    margin-bottom: 20px;
  }

  .category_img_box {
    width: 120px;
    height: 120px;
  }

  .category_img_box img {
    filter: grayscale(0%);
    max-width: 80px;
  }

  .category_box > p {
    margin-top: 20px;
    font-size: 15px;
  }

  /* 섹션 4번 신상게임 */
  .title_img_box {
    display: none;
  }
  .title {
    margin: 130px 0px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .title_text_box > p {
    font-size: 15px;
  }
  .title_text_box > h2 {
    font-size: 20px;
  }

  /* 콘텐츠 영역 */
  .sec4_img_wrap {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    gap: 40px;
    animation: none;
  }
  .sec4_img_box {
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }
  .sec4_img_box:not(.sec4_img_box:nth-of-type(1)) {
    display: none;
  }
  .sec4_img {
    width: 100%;
    height: 100%;
  }
  .sec4_img_box > .sec4_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sec4_img_box > a {
    display: none;
  }

  /* 섹션 4번 버튼 영역 */
  .sec4_new_topic > .plus_button {
    margin: 58px auto;
    margin-top: 30px;
  }
  .sec4_new_topic > .plus_button > a {
    padding: 15px 12vw;
    margin-bottom: 0px;
    font-size: 16px;
  }

  /* 섹션 5번 */
  .sec5_attention {
    background-position: 200px;
    background-size: 200%;
  }
  .sec5_attention > .title {
    margin-top: 80px;
    padding-top: 50px;
    margin: 60px 0px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .sec5_con_box:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sec5_con_wrap > div:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sec5_con_box:nth-of-type(2) > .sec5_con_text {
    order: -1;
  }

  .hashtag {
    display: none;
  }

  /* 섹션 5번 - 콘텐츠 박스 영역 */
  .sec5_con_wrap {
    width: 100%;
    margin: 30px auto;
  }
  .sec5_con_box {
    display: block;
    width: 100%;
  }

  .sec5_con_text {
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 10px;
  }
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 30px;
    line-height: 30px;
  }

  .sec5_con_text > p:nth-of-type(1) > br {
    display: block;
  }

  .sec5_con_hashtag {
    display: none;
  }

  .sec5_con_price {
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .sec5_con_price > p:nth-of-type(2) {
    font-size: 25px;
  }

  .sec5_con_price > div {
    display: none;
  }

  .sec5_con_img {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .sec5_con_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 섹션 5번 - 버튼 영역 */
  .sec5_attention > .plus_button {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 50px;
  }
  .sec5_attention > .plus_button > a {
    padding: 15px 17vw;
    margin-bottom: 0px;
    margin: 0px auto;
    font-size: 16px;
  }

  /* 섹션 6번 커뮤니티 */
  .sec6_community > .title {
    padding-bottom: 30px;
  }
  .swiper {
    height: 62vw;
  }
  .swiper-slide {
    height: 85%;
  }
  /* 섹션 6번 더보기 버튼 영역 */
  .sec6_community > .plus_button {
    margin: 0px auto;
    margin-top: 30px;
    padding-bottom: 100px;
  }
  .sec6_community > .plus_button > a {
    padding: 15px 12vw;
    font-size: 16px;
  }

  /* 섹션 7번 추천 패키지 */
  .sec7_recommended > .hashtag {
    display: none;
  }

  .sec7_recommended > .title {
    margin-bottom: 0px;
    margin-top: 100px;
  }

  .sec7_con_wrap {
    display: block;
    margin-top: 50px;
    width: 100%;
  }
  .sec7_con_wrap > div:nth-of-type(2) {
    display: block;
    width: 100%;
  }

  .sec7_con_col {
    width: 100%;
    margin-top: 30px;
    height: fit-content;
    padding: 50px 6vw;
  }

  .sec7_con_col:last-child {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }

  .sec7_row_box {
    width: 100%;
    padding: 50px;
    padding-right: 1vw;
    padding-left: 6vw;
    align-items: center;
  }

  .price_button > a {
    padding: 10px;
    padding-right: 5vw;
    padding-left: 3vw;
  }

  .sec7_row_box > div:first-child > p:nth-of-type(2) {
    font-size: 16px;
  }
  .sec7_row_box > div:first-child > p:nth-of-type(3) {
    font-size: 16px;
  }

  .sec7_con_col > p:nth-of-type(2) {
    font-size: 16px;
  }
  .sec7_con_col > p:nth-of-type(3) {
    font-size: 16px;
  }

  .sec7_row_box > div:nth-of-type(2) img {
    width: 25vw;
  }
  .sec7_con_col > img {
    width: 23vw;
    margin: 64px auto;
  }
  .sec7_con_col:last-child > img {
    margin: 64px auto;
    width: 33vw;
  }

  .sec7_con_col > p:nth-of-type(1) {
    font-size: 19px;
  }

  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 19px;
  }

  /* 섹션 7번 더보기 버튼 영역 */
  .sec7_recommended > .plus_button {
    width: fit-content;
    margin: 0px auto;
    margin-top: 50px;
    padding-bottom: 100px;
  }
  .sec7_recommended > .plus_button > a {
    padding: 15px 14vw;
    font-size: 16px;
  }

  /* 섹션 8번 - 이용가이드 */
  .sec8_guide {
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    box-sizing: border-box;
  }
  .sec8_guide > .title {
    margin-top: 100px;
  }
  .sec8_box_wrap {
    width: 100%;
    display: block;
  }
  .sec8_text_box > div {
    width: 100%;
  }
  .sec8_text_box > div > h3 {
    font-size: 18px;
  }
  .sec8_text_box > div > div {
    width: 100%;
  }
  .sec8_text_box > div > div > p:first-child {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .sec8_text_box > div > div > p:last-child {
    width: 40%;
    margin-left: 5px;
  }
  .sec8_text_box > div > div > p:last-child > a {
    padding: 0px 5vw;
    margin-left: auto;
    padding-right: 0px;
  }
  .sec8_img_box {
    display: block;
  }
  .sec8_img_box > img {
    display: none;
  }
  .sec8_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec8_img_box > .plus_button > a {
    padding: 15px 14vw;
    font-size: 16px;
  }
  /* 섹션 9번 */
  .sec9_question {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }
  .sec9_box_wrap {
    width: 100%;
    flex-direction: column-reverse;
  }
  .sec9_img_box {
    display: block;
  }
  .sec9_img_box > img {
    display: none;
  }
  .sec9_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec9_img_box > .plus_button > a {
    padding: 15px 16vw;
    font-size: 16px;
  }
  .sec9_text_box {
    width: 100%;
  }
  .sec9_text {
    width: 100%;
  }
  .sec9_text > div > p:first-child {
    margin-right: 15px;
    line-height: 24px;
    font-size: 15px;
  }
  .sec9_text > div:first-child > p:last-child {
    font-size: 16px;
    line-height: 22px;
  }
  .sec9_text > div:last-child > p:last-child {
    font-size: 16px;
    line-height: 22px;
  }
  /* 푸터 영역 */
  footer {
    height: fit-content;
  }
  footer > div {
    width: 90%;
    height: fit-content;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 0px;
  }
  footer > div > img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer > div > div {
    margin-left: 0px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer > div > div > p {
    width: fit-content;
    margin-left: 5px;
  }
}

/* mobile - 폰트 및 자간 수정 */
@media screen and (min-width: 476px) and (max-width: 768px) {
  .sec1_big_text > h2 {
    font-size: 44px;
  }
  .sec1_big_text {
    bottom: 155px;
    left: 20px;
    letter-spacing: -2px;
  }
  /* 섹션 4번 신상게임 */
  .title_img_box {
    display: none;
  }
  .title {
    margin: 130px 0px;
    margin-bottom: 50px;
  }
  .title_text_box > p {
    display: none;
  }
  .title_text_box > h2 {
    font-size: 30px;
  }
  /* 섹션 5번 */
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 21px;
    padding-left: 10px;
    margin-bottom: 50px;
  }
  .sec5_con_text > p:nth-of-type(1) > br {
    display: none;
  }
  /* 섹션 7번 */
  .sec7_con_col > p:nth-of-type(1) {
    font-size: 28px;
  }
  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 28px;
  }
  /* 섹션 8번 - 이용가이드 */
  .sec8_box_wrap {
    width: 100%;
    display: block;
  }
  .sec8_text_box > div {
    width: 100%;
  }
  .sec8_text_box > div > div {
    width: 100%;
  }
  .sec8_text_box > div > div > p:first-child {
    width: 70%;
  }
  .sec8_text_box > div > div > p:last-child {
    width: 30%;
  }
  .sec8_text_box > div > div > p:last-child > a {
    padding: 0px 0vw;
    margin-left: auto;
  }
  .sec8_img_box {
    display: none;
  }
  .sec8_text_box > div > div > p:first-child {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .sec8_text_box > div > div > p:last-child {
    width: 40%;
  }
  .sec8_text_box > div > div > p:last-child > a {
    padding: 0px 5vw;
    margin-left: auto;
  }
  .sec8_img_box {
    display: block;
  }
  .sec8_img_box > img {
    display: none;
  }
}

/* mobile- 섹션 3번 카테고리 수정 */
@media screen and (min-width: 561px) and (max-width: 768px) {
  /* 섹션 3번 카테고리 부분 따로 적용 */
  /* 섹션 3번 - 카테고리 */
  .sec3_category {
    width: 400px;
  }
}

/* 테블릿 - sm, md */
@media screen and (min-width: 680px) and (max-width: 1024px) {
  .container {
    padding: 0px 12px;
    box-sizing: border-box;
  }
  /* 헤더영역 */
  .con {
    padding: 0px 35px;
    padding-left: 10px;
  }

  /* 로고 영역 */
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    padding: 0px 30px;
    padding-left: 3vw;
    box-sizing: border-box;
  }
  .con > h1 {
    width: fit-content;
    height: 72px;
  }

  /* 헤더 메뉴 영역 */
  #gnb {
    display: none;
  }

  /* 헤더 아이콘 영역 */
  .header_icons > div:nth-of-type(1) {
    display: none;
  }
  .header_icons > div:nth-of-type(3) {
    display: flex;
  }

  /* 섹션 1번 - 메인비주얼 */
  .sec1_mainvisual {
    width: 100%;
    height: 824px;
    padding: 100px 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .sec1_mainvisual > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 48%;
  }
  /* 메인 비주얼 글자 영역 */
  .sec1_big_text {
    bottom: 155px;
    left: 50px;
    letter-spacing: -2px;
  }
  .sec1_big_text > h2 {
    font-size: 44px;
  }

  .sec1_mainvisual > div > .plus_button {
    bottom: -80px;
    right: -40px;
  }

  .sec1_mainvisual > div > .plus_button > a {
    padding: 15px 5vw;
  }
  /* 섹션 2번 - 이벤트 소식 */
  .sec2_event_news {
    width: 100%;
  }

  /* 이벤트 박스 (텍스트,더보기) */
  .event_box {
    margin-left: 40px;
    margin-right: 40px;
  }
  .event_box > p:nth-of-type(1) {
    width: 20%;
  }
  .event_box > p:nth-of-type(1)::before {
    display: none;
  }
  .event_box > p:nth-of-type(2) {
    width: 70%;
  }
  .event_box > p:nth-of-type(2) > a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .event_box > p:nth-of-type(3) {
    display: none;
  }
  .event_plus {
    display: flex;
    border-left: 1px solid #cbcbcb;
    line-height: 34px;
    padding-left: 30px;
    margin-left: 20px;
  }
  /* 섹션 3번 - 카테고리 */
  .sec3_category {
    width: 400px;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
  }

  .category_box {
    width: 120px;
    height: 100%;
    margin-bottom: 20px;
  }

  .category_img_box {
    width: 120px;
    height: 120px;
  }

  .category_img_box img {
    max-width: 80px;
  }

  /* 섹션 4번 신상게임 */
  .title {
    margin: 130px 0px;
    margin-bottom: 50px;
  }
  .title_text_box > p {
    display: flex;
  }
  .title_text_box > h2 {
    font-size: 32px;
  }
  /* 콘텐츠 영역 */
  .sec4_img_wrap {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    gap: 40px;
    animation: none;
  }
  .sec4_img_box {
    width: 100%;
    height: 100%;
  }
  .sec4_img_box:not(.sec4_img_box:nth-of-type(1)) {
    display: none;
  }
  .sec4_img {
    width: 100%;
    height: 100%;
  }
  .sec4_img_box > .sec4_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sec4_img_box > a {
    display: none;
  }

  /* 섹션 4번 버튼 영역 */
  .sec4_new_topic > .plus_button {
    margin: 58px auto;
  }
  .sec4_new_topic > .plus_button > a {
    padding: 15px 12vw;
    margin-bottom: 50px;
  }
  /* 섹션 5번 */
  .sec5_attention {
    background-position: 70%;
    background-size: 150%;
  }
  .sec5_attention > .title {
    width: 90%;
    margin: 80px auto;
    margin-bottom: 0px;
    padding-top: 50px;
  }

  .sec5_con_box:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sec5_con_wrap > div:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sec5_con_box:nth-of-type(2) > .sec5_con_text {
    order: -1;
  }

  .hashtag {
    width: 88%;
    display: block;
    margin: 40px auto;
  }
  .hashtag > span {
    padding: 10px 3vw;
    margin-right: 10px;
  }

  /* 섹션 5번 - 콘텐츠 박스 영역 */
  .sec5_con_wrap {
    width: 90%;
    margin: 50px auto;
  }
  .sec5_con_box {
    display: block;
    width: 100%;
  }
  .sec5_con_text {
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) > br {
    display: none;
  }
  .sec5_con_hashtag {
    display: flex;
    padding-left: 10px;
  }
  .sec5_con_price {
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .sec5_con_price > div {
    display: none;
  }
  .sec5_con_img {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }
  .sec5_con_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 섹션 5번 - 버튼 영역 */
  .sec5_attention > .plus_button {
    width: fit-content;
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 50px;
  }
  .sec5_attention > .plus_button > a {
    padding: 15px 17vw;
    margin-bottom: 0px;
    margin: 0px auto;
  }

  /* 섹션 6번 커뮤니티 */
  .sec6_img_wrap {
    margin: 0px auto;
  }
  .sec6_img_box > div:nth-of-type(1) {
    display: none;
  }
  .sec6_img_box > div:nth-of-type(3) {
    display: none;
  }
  .sec6_img_box {
    transform: translateX(0);
  }

  /* 섹션 6번 더보기 버튼 영역 */
  .sec6_community > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec6_community > .plus_button > a {
    padding: 15px 12vw;
  }

  /* 섹션 7번 추천 패키지 */
  .sec7_recommended > .title {
    padding: 0px 50px;
  }
  .sec7_recommended > .hashtag {
    margin-left: 0px;
    margin-bottom: 20px;
    padding: 0px 50px;
  }
  .sec7_con_wrap {
    display: block;
    margin-top: 50px;
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
  }
  .sec7_con_wrap > div:nth-of-type(2) {
    display: block;
    width: 100%;
  }

  .sec7_con_col {
    width: 100%;
    margin-top: 30px;
    height: fit-content;
    padding: 50px 10vw;
  }

  .sec7_con_col:last-child {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }

  .sec7_row_box {
    width: 100%;
    padding: 50px;
    padding-right: 6vw;
    padding-left: 10vw;
    align-items: center;
  }

  .price_button > a {
    padding: 10px;
    padding-right: 5vw;
    padding-left: 3vw;
  }

  .sec7_row_box > div:nth-of-type(2) img {
    width: 20vw;
  }
  .sec7_con_col > img {
    width: 20vw;
    margin: 64px auto;
  }
  .sec7_con_col:last-child > img {
    margin: 64px auto;
    width: 33vw;
  }
  .sec7_con_col > p:nth-of-type(1) {
    font-size: 25px;
  }
  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 25px;
  }

  /* 섹션 7번 더보기 버튼 영역 */
  .sec7_recommended > .plus_button {
    width: fit-content;
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec7_recommended > .plus_button > a {
    padding: 15px 14vw;
  }
  /* 섹션 8번 - 이용가이드 */

  .sec8_guide > .title {
    padding: 0px 50px;
    padding-right: 0px;
  }
  .sec8_guide > .title > .title_text_box > p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec8_box_wrap {
    width: 100%;
    display: block;
  }
  .sec8_text_box > div {
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
  }
  .sec8_text_box > div > h3 {
    font-size: 22px;
  }
  .sec8_text_box > div > div {
    width: 100%;
  }
  .sec8_text_box > div > div > p:first-child {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .sec8_text_box > div > div > p:last-child {
    width: 40%;
  }
  .sec8_text_box > div > div > p:last-child > a {
    padding: 0px 5vw;
    margin-left: auto;
  }
  .sec8_img_box {
    display: block;
  }
  .sec8_img_box > img {
    display: none;
  }
  .sec8_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec8_img_box > .plus_button > a {
    padding: 15px 14vw;
  }
  /* 섹션 9번 */
  .sec9_question > .title {
    padding: 0px 50px;
    padding-right: 0px;
  }

  .sec9_question > .title > .title_text_box > p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .sec9_box_wrap {
    width: 100%;
    flex-direction: column-reverse;
    padding: 0px 50px;
    box-sizing: border-box;
  }
  .sec9_img_box {
    display: block;
  }
  .sec9_img_box > img {
    display: none;
  }
  .sec9_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec9_img_box > .plus_button > a {
    padding: 15px 15vw;
  }
  .sec9_text_box {
    width: 100%;
  }
  .sec9_text {
    width: 100%;
  }
  .sec9_text > div > p:first-child {
    margin-right: 20px;
    line-height: 24px;
  }
  .sec9_text > div:first-child > p:last-child {
    font-size: 18px;
    line-height: 22px;
  }
  .sec9_text > div:last-child > p:last-child {
    font-size: 18px;
    line-height: 22px;
  }
  /* 푸터 영역 */
  footer {
    height: fit-content;
  }
  footer > div {
    width: 90%;
    height: fit-content;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  footer > div > img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer > div > div {
    margin-left: 0px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer > div > div > p {
    width: fit-content;
    margin-left: 5px;
  }
}

/* 테블릿 - sm, md */
/* 섹션 3,4,5번 수정 */
@media screen and (min-width: 900px) and (max-width: 1024px) {
  /* 섹션 3번 */
  .sec3_category {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
  }
  /* 섹션 4번 */
  .sec4_img_wrap {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    gap: 40px;
    animation: none;
  }
  /* 섹션 5번 */
  .sec5_attention {
    background-position: 50%;
    background-size: 130%;
  }
  .sec5_con_wrap {
    width: 80%;
  }
  .hashtag {
    width: 78%;
  }
  .sec5_attention > .title {
    width: 80%;
  }
}

/* 테블릿-md, 작은 노트북 */
@media screen and (min-width: 1025px) and (max-width: 1250px) {
  .container {
    padding: 0px 12px;
    box-sizing: border-box;
  }
  /* 헤더영역 */
  .con {
    padding: 0px 35px;
    padding-left: 10px;
  }

  /* 로고 영역 */
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    padding: 0px 60px;
    padding-left: 4vw;
    box-sizing: border-box;
  }
  .con > h1 {
    width: fit-content;
    height: 72px;
  }

  /* 헤더 메뉴 영역 */
  #gnb {
    display: none;
  }

  /* 헤더 아이콘 영역 */
  .header_icons > div:nth-of-type(1) {
    display: none;
  }
  .header_icons > div:nth-of-type(3) {
    display: flex;
  }

  /* 섹션 1번 - 메인비주얼 */
  .sec1_mainvisual {
    width: 100%;
    height: 824px;
    padding: 100px 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .sec1_mainvisual > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 48%;
  }
  /* 메인 비주얼 글자 영역 */
  .sec1_big_text {
    bottom: 70px;
    left: 70px;
    letter-spacing: -2px;
  }
  .sec1_big_text > h2 {
    font-size: 44px;
  }

  .sec1_mainvisual > div > .plus_button {
    bottom: -60px;
    right: -20px;
  }

  .sec1_mainvisual > div > .plus_button > a {
    padding: 15px 5vw;
  }
  /* 섹션 2번 - 이벤트 소식 */
  .sec2_event_news {
    width: 100%;
  }

  /* 이벤트 박스 (텍스트,더보기) */
  .event_box {
    margin-left: 40px;
    margin-right: 40px;
  }
  .event_box > p:nth-of-type(1) {
    width: 20%;
  }
  .event_box > p:nth-of-type(1)::before {
    left: 4vw;
  }
  .event_box > p:nth-of-type(2) {
    width: 70%;
  }
  .event_box > p:nth-of-type(2) > a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .event_box > p:nth-of-type(3) {
    display: none;
    border: none;
  }
  .event_plus {
    display: flex;
    border-left: 1px solid #cbcbcb;
    line-height: 34px;
    padding-left: 30px;
    margin-left: 20px;
  }
  /* 섹션 3번 */
  .sec3_category {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 22px;
  }
  .category_box {
    width: 140px;
    height: 100%;
    margin-bottom: 20px;
  }
  .category_img_box {
    width: 140px;
    height: 140px;
  }
  .category_img_box img {
    max-width: 100px;
  }
  /* 섹션 4번 신상게임 */
  .sec4_new_topic {
    width: fit-content;
    margin: 0px auto;
  }
  .title {
    width: 500px;
    margin: 130px auto;
    margin-bottom: 50px;
    margin-left: 4vw;
  }
  .title_text_box > p {
    display: flex;
  }
  .title_text_box > h2 {
    font-size: 35px;
  }
  /* 섹션 4번 콘텐츠 영역 */
  .sec4_new_topic {
    width: 100%;
  }
  .sec4_img_wrap {
    width: fit-content;
    overflow: hidden;
    display: flex;
    gap: 40px;
    animation: none;
    margin: 0px auto;
  }
  .sec4_img_box:not(.sec4_img_box:nth-of-type(1)) {
    display: none;
  }
  .sec4_img_box > a {
    display: none;
  }
  /* 섹션 4번 버튼 영역 */
  .sec4_new_topic > .plus_button {
    margin-right: 3vw;
  }

  .sec4_new_topic > .plus_button > a {
    padding: 15px 5vw;
  }
  /* 섹션 5번 */
  .sec5_attention {
    background-position: 60%;
    background-size: 120%;
  }
  .sec5_attention > .title {
    width: 740px;
    margin: 80px auto;
    margin-bottom: 0px;
    padding-top: 50px;
  }
  .sec5_con_box:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sec5_con_wrap > div:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sec5_con_box:nth-of-type(2) > .sec5_con_text {
    order: -1;
  }
  .hashtag {
    width: 740px;
    display: block;
    margin: 40px auto;
  }
  .hashtag > span {
    padding: 10px 3vw;
    margin-right: 10px;
  }

  /* 섹션 5번 - 콘텐츠 박스 영역 */
  .sec5_con_wrap {
    width: fit-content;
    margin: 50px auto;
  }
  .sec5_con_box {
    display: block;
    width: 100%;
  }
  .sec5_con_text {
    width: 740px;
    height: fit-content;
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) > br {
    display: none;
  }
  .sec5_con_hashtag {
    display: flex;
    padding-left: 10px;
  }
  .sec5_con_price {
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .sec5_con_price > div {
    display: none;
  }
  .sec5_con_img {
    width: 740px;
    height: fit-content;
    margin-bottom: 20px;
  }
  .sec5_con_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 섹션 5번 - 버튼 영역 */
  .sec5_attention > .plus_button {
    width: fit-content;
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 50px;
  }
  .sec5_attention > .plus_button > a {
    padding: 15px 12vw;
    margin-bottom: 0px;
    margin: 0px auto;
  }
  /* 섹션 6번 커뮤니티 */
  .sec6_img_wrap {
    margin: 0px auto;
  }
  .sec6_img_box > div:nth-of-type(1) {
    display: none;
  }
  .sec6_img_box > div:nth-of-type(3) {
    display: none;
  }
  .sec6_img_box {
    transform: translateX(0px);
  }

  /* 섹션 6번 더보기 버튼 영역 */
  .sec6_community > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec6_community > .plus_button > a {
    padding: 15px 12vw;
  }

  /* 섹션 7번 추천 패키지 */
  .sec7_recommended > .title {
    width: 800px;
    padding: 0px 50px;
    margin: 0px auto;
    margin-top: 130px;
  }
  .sec7_recommended > .hashtag {
    width: 800px;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 0px 50px;
  }
  .sec7_con_wrap {
    display: block;
    margin-top: 50px;
    width: 800px;
    box-sizing: border-box;
    margin: 70px auto;
  }
  .sec7_con_wrap > div:nth-of-type(2) {
    display: block;
    width: 100%;
  }
  .sec7_con_col {
    width: 800px;
    margin-top: 30px;
    height: fit-content;
    padding: 50px 100px;
    box-sizing: border-box;
  }
  .sec7_con_col:last-child {
    width: 800px;
    margin: 0px;
    margin-top: 30px;
  }
  .sec7_row_box {
    width: 800px;
    padding: 50px 100px;
    align-items: center;
    box-sizing: border-box;
  }
  .price_button > a {
    padding: 10px;
    padding-right: 5vw;
    padding-left: 3vw;
  }
  .sec7_con_col > img {
    margin: 64px auto;
  }
  .sec7_con_col:last-child > img {
    margin: 64px auto;
  }
  .sec7_con_col > p:nth-of-type(1) {
    font-size: 25px;
  }
  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 25px;
  }

  /* 섹션 7번 더보기 버튼 영역 */
  .sec7_recommended > .plus_button {
    width: fit-content;
    margin: 0px;
    margin-top: 50px;
    margin: 0px auto;
  }
  .sec7_recommended > .plus_button > a {
    padding: 15px 12vw;
  }
  /* 섹션 8번 - 이용가이드 */
  .sec8_guide > .title {
    padding: 0px 10vw;
    padding-right: 0vw;
  }
  .sec8_guide > .title > .title_text_box > p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec8_box_wrap {
    width: 100%;
    display: block;
  }
  .sec8_text_box > div {
    width: 100%;
    padding: 0px 10vw;
    box-sizing: border-box;
  }
  .sec8_text_box > div > h3 {
    font-size: 22px;
  }
  .sec8_text_box > div > div {
    width: 100%;
  }
  .sec8_text_box > div > div > p:first-child {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .sec8_text_box > div > div > p:last-child {
    width: 40%;
  }
  .sec8_text_box > div > div > p:last-child > a {
    padding: 0px 5vw;
    margin-left: auto;
  }
  .sec8_img_box {
    display: block;
  }
  .sec8_img_box > img {
    display: none;
  }
  .sec8_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 80px;
  }
  .sec8_img_box > .plus_button > a {
    padding: 15px 10vw;
  }
  /* 섹션 9번 */
  .sec9_question > .title {
    padding: 0px 10vw;
    padding-right: 0vw;
  }

  .sec9_question > .title > .title_text_box > p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .sec9_box_wrap {
    width: 100%;
    flex-direction: column-reverse;
    padding: 0px 10vw;
    box-sizing: border-box;
  }
  .sec9_img_box {
    display: block;
  }
  .sec9_img_box > img {
    display: none;
  }
  .sec9_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 80px;
  }
  .sec9_img_box > .plus_button > a {
    padding: 15px 11vw;
  }
  .sec9_text_box {
    width: 100%;
  }
  .sec9_text {
    width: 100%;
  }
  .sec9_text > div > p:first-child {
    margin-right: 20px;
    line-height: 24px;
  }
  .sec9_text > div:first-child > p:last-child {
    font-size: 18px;
    line-height: 22px;
  }
  .sec9_text > div:last-child > p:last-child {
    font-size: 18px;
    line-height: 22px;
  }
  /* 푸터 영역 */
  footer {
    height: fit-content;
  }
  footer > div {
    width: 90%;
    height: fit-content;
    display: block;
    margin: 0px auto;
    margin-bottom: 30px;
  }
  footer > div > img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer > div > div {
    margin-left: 0px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer > div > div > p {
    width: fit-content;
    margin-left: 5px;
  }
}

/* 테블릿-lg, 일반 노트북 */
@media screen and (min-width: 1200px) and (max-width: 1440px) {
  /* 헤더영역 */
  .con {
    padding: 0px 35px;
    padding-left: 10px;
  }

  /* 로고 영역 */
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    padding: 0px 50px;
    padding-left: 5vw;
    box-sizing: border-box;
  }
  .con > h1 {
    width: fit-content;
    height: 72px;
  }

  /* 헤더 메뉴 영역 */
  #gnb::after {
    width: 850px;
    left: -10%;
  }

  /* 헤더 아이콘 영역 */
  .header_icons > div:nth-of-type(1) {
    display: flex;
  }
  .header_icons > div:nth-of-type(3) {
    display: none;
  }

  #gnb02 {
    display: none;
  }

  /* 섹션 1번 - 메인비주얼 */
  .sec1_mainvisual {
    width: 96%;
    height: 824px;
    padding: 100px 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    position: relative;
  }
  .sec1_mainvisual > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 48%;
  }
  /* 섹션 2번 - 이벤트 소식 */
  .sec2_event_news {
    width: 98%;
  }

  /* 이벤트 박스 (텍스트,더보기) */
  .event_box {
    margin-left: 40px;
    margin-right: 40px;
  }
  .event_box > p:nth-of-type(1) {
    width: 20%;
  }
  .event_box > p:nth-of-type(1)::before {
    left: 4vw;
  }
  .event_box > p:nth-of-type(2) {
    width: 70%;
  }
  .event_box > p:nth-of-type(2) > a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .event_box > p:nth-of-type(3) {
    display: flex;
  }
  .event_plus {
    display: flex;
    line-height: 34px;
    padding-left: 30px;
    margin-left: 20px;
  }

  /* 섹션 3번 */
  .sec3_category {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 22px;
  }
  .category_box {
    width: 160px;
    height: 100%;
    margin-bottom: 20px;
  }
  .category_img_box {
    width: 160px;
    height: 160px;
  }
  .category_img_box img {
    max-width: 110px;
  }
  /* 섹션 4번 신상게임 */
  .sec4_new_topic {
    width: 100%;
    margin: 0px auto;
  }
  .title {
    width: 500px;
    margin: 130px auto;
    margin-bottom: 50px;
    margin-left: 4vw;
  }
  .title_text_box > p {
    display: flex;
  }
  .title_text_box > h2 {
    font-size: 35px;
  }

  /* 섹션 5번 */
  .sec5_attention > .plus_button {
    width: fit-content;
    margin: 0px auto;
  }
  .sec5_attention > .plus_button > a {
    padding: 15px 12vw;
  }
  .sec5_attention {
    background-position: 60%;
    background-size: 120%;
  }
  .sec5_attention > .title {
    width: 740px;
    margin: 80px auto;
    margin-bottom: 0px;
    padding-top: 50px;
  }
  .sec5_con_box:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .sec5_con_wrap > div:nth-child(2) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .sec5_con_box:nth-of-type(2) > .sec5_con_text {
    order: -1;
  }
  .hashtag {
    width: 740px;
    display: block;
    margin: 40px auto;
  }
  .hashtag > span {
    padding: 10px 3vw;
    margin-right: 10px;
  }

  /* 섹션 5번 - 콘텐츠 박스 영역 */
  .sec5_con_wrap {
    width: fit-content;
    margin: 50px auto;
  }
  .sec5_con_box {
    display: block;
    width: 100%;
  }
  .sec5_con_text {
    width: 740px;
    height: fit-content;
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 24px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) > br {
    display: none;
  }
  .sec5_con_hashtag {
    display: flex;
    padding-left: 10px;
  }
  .sec5_con_price {
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .sec5_con_price > div {
    display: flex;
    padding-right: 20px;
  }
  .sec5_con_img {
    width: 740px;
    height: fit-content;
    margin-bottom: 20px;
  }
  .sec5_con_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* 섹션 7번 추천 패키지 */
  .sec7_recommended > .title {
    width: 800px;
    padding: 0px 50px;
    margin: 0px auto;
    margin-top: 130px;
  }
  .sec7_recommended > .hashtag {
    width: 800px;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 0px 50px;
  }
  .sec7_con_wrap {
    display: block;
    margin-top: 50px;
    width: 800px;
    box-sizing: border-box;
    margin: 70px auto;
  }
  .sec7_con_wrap > div:nth-of-type(2) {
    display: block;
    width: 100%;
  }
  .sec7_con_col {
    width: 800px;
    margin-top: 30px;
    height: fit-content;
    padding: 50px 100px;
    box-sizing: border-box;
  }
  .sec7_con_col:last-child {
    width: 800px;
    margin: 0px;
    margin-top: 30px;
  }
  .sec7_row_box {
    width: 800px;
    padding: 50px 100px;
    align-items: center;
    box-sizing: border-box;
  }
  .price_button > a {
    padding: 10px;
    padding-right: 5vw;
    padding-left: 3vw;
  }
  .sec7_con_col > img {
    margin: 64px auto;
  }
  .sec7_con_col:last-child > img {
    margin: 64px auto;
  }
  .sec7_con_col > p:nth-of-type(1) {
    font-size: 25px;
  }
  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 25px;
  }

  /* 섹션 7번 더보기 버튼 영역 */
  .sec7_recommended > .plus_button {
    width: fit-content;
    margin: 0px;
    margin-top: 50px;
    margin: 0px auto;
  }
  .sec7_recommended > .plus_button > a {
    padding: 15px 12vw;
  }

  /* 푸터 영역 */
  footer > div {
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1251px) and (max-width: 1440px) {
  #gnb02 {
    display: none;
  }
  /* 섹션 8번 - 이용가이드 */
  .sec8_guide {
    width: 80%;
    margin: 0px auto;
  }

  .sec8_guide > .title {
    padding: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .sec8_guide > .title > .title_text_box > p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec8_box_wrap {
    width: 100%;
    justify-content: space-between;
  }

  .sec8_text_box {
    width: 550px;
  }
  .sec8_text_box > div {
    width: 100%;
    box-sizing: border-box;
  }
  .sec8_text_box > div > h3 {
    font-size: 22px;
  }
  .sec8_text_box > div > div {
    width: 100%;
  }
  .sec8_text_box > div > div > p:first-child {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .sec8_text_box > div > div > p:last-child {
    width: 40%;
  }
  .sec8_text_box > div > div > p:last-child > a {
    /* padding: 0px 5vw; */
    margin-left: auto;
  }
  .sec8_img_box {
    width: fit-content;
    display: block;
  }
  .sec8_img_box > img {
    display: block;
  }

  /* 섹션 9번 */
  .sec9_question {
    width: 80%;
    margin: 0px auto;
  }
  .sec9_question > .title {
    padding: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .sec9_question > .title > .title_text_box > p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .sec9_box_wrap {
    width: 100%;
    flex-direction: column-reverse;
    /* padding: 0px 10vw; */
    box-sizing: border-box;
  }
  .sec9_img_box {
    display: block;
  }
  .sec9_img_box > img {
    display: none;
  }
  .sec9_img_box > .plus_button {
    margin: 0px auto;
    margin-top: 80px;
  }
  .sec9_img_box > .plus_button > a {
    padding: 15px 11vw;
  }
  .sec9_text_box {
    width: 100%;
  }
  .sec9_text {
    width: 100%;
  }
  .sec9_text > div > p:first-child {
    margin-right: 20px;
    line-height: 24px;
  }
  .sec9_text > div:first-child > p:last-child {
    font-size: 18px;
    line-height: 22px;
  }
  .sec9_text > div:last-child > p:last-child {
    font-size: 18px;
    line-height: 22px;
  }
}

/* pc */
@media screen and (min-width: 1441px) {
  /* 헤더영역 */
  .con {
    padding: 0px 35px;
    padding-left: 10px;
  }
  #gnb02 {
    display: none;
  }

  /* 로고 영역 */
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    padding: 0px 70px;
    padding-left: 78px;
    box-sizing: border-box;
  }
  .con > h1 {
    width: fit-content;
    height: 72px;
  }

  /* 헤더 메뉴 영역 */
  #gnb::after {
    width: 900px;
    left: -14%;
  }

  /* 헤더 아이콘 영역 */
  .header_icons > div:nth-of-type(1) {
    display: flex;
  }
  .header_icons > div:nth-of-type(3) {
    display: none;
  }
  /* 섹션 1번 - 메인비주얼 */
  .sec1_mainvisual {
    width: 94%;
    height: 824px;
    padding: 100px 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    position: relative;
  }
  .sec1_mainvisual > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 48%;
  }

  /* 섹션 2번 - 이벤트 소식 */
  .sec2_event_news {
    width: 90%;
  }
  /* 이벤트 박스 (텍스트,더보기) */
  .event_box {
    margin-left: 40px;
    margin-right: 40px;
  }
  .event_box > p:nth-of-type(1) {
    width: 20%;
  }
  .event_box > p:nth-of-type(1)::before {
    left: 4vw;
  }
  .event_box > p:nth-of-type(2) {
    width: 70%;
  }
  .event_box > p:nth-of-type(2) > a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .event_box > p:nth-of-type(3) {
    display: flex;
  }
  .event_plus {
    display: flex;
    line-height: 34px;
    padding-left: 30px;
    margin-left: 20px;
  }

  /* 섹션 3번 카테고리 영역 */
  .sec3_category {
    width: 100%;
    gap: 50px;
  }

  /* 섹션 5번 */
  .sec5_con_text {
    width: 650px;
  }
  /* 섹션 5번 - 더보기 버튼 영역 */
  .sec5_attention > .plus_button {
    width: 1305px;
  }

  /* 섹션 7번 추천 패키지 영역 */
  .sec7_con_wrap {
    width: 1300px;
  }
  .sec7_row_box {
    width: 480px;
  }
  .sec7_con_col {
    width: 380px;
  }
  .sec7_con_col:last-child {
    margin-left: 30px;
  }
  .sec7_recommended > .plus_button {
    width: 1300px;
  }

  /* 섹션 8번 이용가이드 영역 */
  .sec8_text_box > div {
    width: 40vw;
  }
}
