@charset "utf-8";
/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    padding: 0px 12px;
    box-sizing: border-box;
  }
  /* 헤더영역 */
  .con {
    padding: 0px 35px;
    padding-left: 10px;
  }

  /* 로고 영역 */
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 999;
  }
  .con > h1 {
    width: fit-content;
    height: 72px;
  }

  /* 헤더 메뉴 영역 */
  #gnb {
    display: none;
  }

  /* 헤더 아이콘 영역 */
  .header_icons > div:nth-of-type(1) {
    display: none;
  }
  .header_icons > div:nth-of-type(3) {
    display: flex;
  }

  /* 섹션 1번 - 메인비주얼 */
  .sec1_mainvisual {
    width: 100%;
    height: 824px;
    padding: 100px 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .sec1_mainvisual > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 48%;
  }

  /* 메인 비주얼 글자 영역 */
  .sec1_big_text {
    bottom: 170px;
    left: 20px;
    letter-spacing: -2px;
  }
  .sec1_big_text > h2 {
    font-size: 33px;
  }

  .sec1_mainvisual > div > .plus_button {
    bottom: -100px;
    right: -60px;
  }

  .sec1_mainvisual > div > .plus_button > a {
    padding: 15px 5vw;
  }

  /* 섹션 2번 - 이벤트 소식 */
  .sec2_event_news {
    width: 100%;
  }

  /* 이벤트 박스 (텍스트,더보기) */
  .event_box {
    margin-left: 40px;
  }
  .event_box > p:nth-of-type(1) {
    width: 20%;
  }
  .event_box > p:nth-of-type(1)::before {
    display: none;
  }
  .event_box > p:nth-of-type(2) {
    width: 70%;
  }
  .event_box > p:nth-of-type(2) > a {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .event_box > p:nth-of-type(3),
  .event_plus {
    display: none;
  }

  /* 섹션 3번 - 카테고리 */
  .sec3_category {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
  }

  .category_box {
    width: 120px;
    height: 100%;
    margin-bottom: 20px;
  }

  .category_img_box {
    width: 120px;
    height: 120px;
  }

  .category_img_box img {
    max-width: 80px;
  }

  /* 섹션 4번 신상게임 */
  .title_img_box {
    display: none;
  }
  .title {
    margin: 130px 0px;
    margin-bottom: 50px;
  }
  .title_text_box > p {
    display: none;
  }
  .title_text_box > h2 {
    font-size: 22px;
  }

  /* 콘텐츠 영역 */
  .sec4_img_wrap {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    gap: 40px;
    animation: none;
  }
  .sec4_img_box {
    width: 100%;
    height: 400px;
  }
  .sec4_img_box:not(.sec4_img_box:nth-of-type(1)) {
    display: none;
  }
  .sec4_img {
    width: 100%;
    height: 100%;
  }
  .sec4_img_box > .sec4_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sec4_img_box > a {
    display: none;
  }

  /* 섹션 4번 버튼 영역 */
  .sec4_new_topic > .plus_button {
    margin: 58px auto;
  }
  .sec4_new_topic > .plus_button > a {
    padding: 15px 12vw;
    margin-bottom: 50px;
  }

  /* 섹션 5번 */
  .sec5_attention {
    background-position: 200px;
    background-size: 200%;
  }
  .sec5_attention > .title {
    margin: 0px 0px;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-top: 50px;
  }

  .sec5_con_box:nth-of-type(2) {
    display: none;
  }

  .hashtag {
    display: none;
  }

  /* 섹션 5번 - 콘텐츠 박스 영역 */
  .sec5_con_wrap {
    width: 100%;
    margin: 50px auto;
  }
  .sec5_con_box {
    display: block;
    width: 100%;
  }

  .sec5_con_text {
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 50px;
  }

  .sec5_con_text > p:nth-of-type(1) > br {
    display: block;
  }

  .sec5_con_hashtag {
    display: none;
  }

  .sec5_con_price {
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .sec5_con_price > div {
    display: none;
  }

  .sec5_con_img {
    width: 100%;
    height: fit-content;
  }

  .sec5_con_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 섹션 5번 - 버튼 영역 */
  .sec5_attention > .plus_button {
    margin: 0px auto;
    padding: 0px;
    padding-bottom: 50px;
  }
  .sec5_attention > .plus_button > a {
    padding: 15px 17vw;
    margin-bottom: 0px;
  }

  /* 섹션 6번 커뮤니티 */
  .sec6_img_box {
    transform: translateX(0px);
  }
  .sec6_img_box > div {
    width: 100%;
    height: fit-content;
  }
  .sec6_img_box > div:nth-child(2) {
    width: 100%;
    height: fit-content;
  }
  .sec6_img_box > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sec6_img_box > div:nth-of-type(1) {
    display: none;
  }
  .sec6_img_box > div:nth-of-type(3) {
    display: none;
  }
  /* 섹션 6번 더보기 버튼 영역 */
  .sec6_community > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec6_community > .plus_button > a {
    padding: 15px 12vw;
  }

  /* 섹션 7번 추천 패키지 */
  .sec7_recommended > .hashtag {
    display: none;
  }

  .sec7_recommended > .title {
    margin-bottom: 30px;
  }

  .sec7_con_wrap {
    display: block;
    margin-top: 50px;
    width: 100%;
  }
  .sec7_con_wrap > div:nth-of-type(2) {
    display: block;
    width: 100%;
  }

  .sec7_con_col {
    width: 100%;
    margin-top: 30px;
    height: fit-content;
    padding: 50px 6vw;
  }

  .sec7_con_col:last-child {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }

  .sec7_row_box {
    width: 100%;
    padding: 50px;
    padding-right: 1vw;
    padding-left: 6vw;
    align-items: center;
  }

  .price_button > a {
    padding: 10px;
    padding-right: 5vw;
    padding-left: 3vw;
  }

  .sec7_row_box > div:nth-of-type(2) img {
    width: 25vw;
  }
  .sec7_con_col > img {
    width: 23vw;
    margin: 64px auto;
  }
  .sec7_con_col:last-child > img {
    margin: 64px auto;
    width: 33vw;
  }

  .sec7_con_col > p:nth-of-type(1) {
    font-size: 23px;
  }

  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 23px;
  }

  /* 섹션 7번 더보기 버튼 영역 */
  .sec7_recommended > .plus_button {
    margin: 0px auto;
    margin-top: 50px;
  }
  .sec7_recommended > .plus_button > a {
    padding: 15px 14vw;
  }

  /* 섹션 8번 - 이용가이드 */
}

@media screen and (min-width: 476px) and (max-width: 768px) {
  /* 전체 폰트 따로 적용 */
  /* 메인 비주얼 글자 영역 */
  .sec1_big_text > h2 {
    font-size: 44px;
  }
  .sec1_big_text {
    bottom: 155px;
    left: 34px;
    letter-spacing: -2px;
  }
  /* 섹션 4번 신상게임 */
  .title_img_box {
    display: none;
  }
  .title {
    margin: 130px 0px;
    margin-bottom: 50px;
  }
  .title_text_box > p {
    display: none;
  }
  .title_text_box > h2 {
    font-size: 30px;
  }
  /* 섹션 5번 */
  .sec5_con_text > p:nth-of-type(1) {
    font-size: 21px;
    padding-left: 10px;
    margin-bottom: 50px;
  }
  .sec5_con_text > p:nth-of-type(1) > br {
    display: none;
  }
  /* 섹션 7번 */
  .sec7_con_col > p:nth-of-type(1) {
    font-size: 28px;
  }
  .sec7_row_box > div:first-child > p:nth-of-type(1) {
    font-size: 28px;
  }
}

@media screen and (min-width: 561px) and (max-width: 768px) {
  /* 섹션 3번 카테고리 부분 따로 적용 */
  /* 섹션 3번 - 카테고리 */
  .sec3_category {
    width: 400px;
  }
}
