@charset "utf-8";
@import url(../../common_responsive.css);

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  /* 타이틀 공통 영역 */
  .title_box {
    width: 100%;
    margin: 0px;
  }
  .title_box > div:nth-of-type(1) > img {
    width: 65px;
  }
  .title_box > div:nth-of-type(2) {
    margin-left: 20px;
  }

  .title_box > div:nth-of-type(2) > p {
    font-size: 17px;
  }
  .title_box > div:nth-of-type(2) > h2 {
    width: 100%;
    font-size: 22px;
    line-height: 40px;
  }
  .title_box > div:nth-of-type(2) > h2 > br {
    display: block;
  }

  /* 섹션 1번 영역 */
  .sec1_community {
    padding: 100px 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .sec1_title_hashtag {
    display: none;
  }
  .sec1_card_box {
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
  }
  .sec1_card_wrap {
    width: 100%;
    display: block;
    animation: none;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .sec1_card_right {
    width: 100%;
    height: fit-content;
    padding: 30px 40px;
    padding-top: 38px;
  }
  .sec1_card_left {
    display: none;
  }
  .sec1_card_right > div:nth-of-type(2) {
    display: none;
  }
  .sec1_card_right > div:nth-of-type(1) {
    margin-bottom: 15px;
    display: block;
  }
  .sec1_card_right > div:nth-of-type(1) > p {
    font-size: 15px;
    line-height: 20px;
  }
  .sec1_card_box:nth-of-type(4) {
    display: none;
  }
  .sec1_card_box:nth-of-type(5) {
    display: none;
  }
  .sec1_card_box:nth-of-type(6) {
    display: none;
  }
  .sec1_card_right > h3 {
    font-size: 18px;
  }

  /* 섹션 2번 - 자유게시판 영역 */
  .sec2_board {
    padding: 0px 15px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .sec2_board > div {
    width: 100%;
  }

  .main_board_wrap {
    display: block;
  }

  .main_board_img {
    width: 100%;
    height: fit-content;
  }

  .main_board_img > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .board_text {
    width: fit-content;
    padding: 30px 0px;
    height: fit-content;
    margin: 0px auto;
  }
  .board_text > div:nth-of-type(1) > p {
    width: 35px;
    padding: 7px 4px;
    text-align: center;
    font-size: 10px;
  }
  .board_text > div:nth-of-type(1) > h2 {
    font-size: 15px;
  }
  .board_text > div:nth-of-type(2),
  .board_text > div:nth-of-type(2) > p,
  .board_text > p,
  .board_text > div:nth-of-type(3) {
    display: none;
  }
  .board_box {
    padding: 0px 10px;
    justify-content: space-between;
  }
  .board_line {
    margin-top: 10px;
  }
  .board_box > p:nth-of-type(1),
  .board_box > p:nth-of-type(2),
  .board_box > p:nth-of-type(4),
  .board_box > p:nth-of-type(5),
  .board_box > p:nth-of-type(6) {
    display: none;
  }
  .board_box > p:nth-of-type(3) {
    width: 70%;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
  }
  .board_box > a {
    width: 35%;
    margin-left: 0px;
    padding-left: 15px;
    justify-content: center;
    font-size: 15px;
  }
  .board_box > img {
    display: none;
  }

  .plus_button > a {
    font-size: 15px;
  }

  /* 섹션 3번 - 공략게시판 영역 */
  .sec3_board {
    padding: 0px 15px;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .sec3_board > div {
    width: 100%;
  }
  .main_board_wrap {
    margin-top: 30px;
  }
  .sec3_board > div > .main_board_wrap > .main_board_img {
    display: block;
    width: 100%;
    height: 60vw;
    margin: 0px auto;
  }
  .main_board_img > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .main_board_img > a:nth-of-type(2),
  .main_board_img > a:nth-of-type(3) {
    display: none;
  }
  .sec3_board > div > .main_board_wrap > .main_board_img > a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px auto;
  }
}

/* 테블릿 - sm, md */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 타이틀 공통 영역 */
  .title_box {
    width: 100%;
    margin: 0px;
  }
  .title_box > div:nth-of-type(1) > img {
    width: 110px;
  }
  .title_box > div:nth-of-type(2) {
    margin-left: 20px;
  }
  .title_box > div:nth-of-type(2) > h2 {
    width: 100%;
    font-size: 32px;
    line-height: 40px;
  }
  /* 섹션 1번 영역 */
  .sec1_community {
    padding: 100px 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  /* 타이틀 해시태그 영역 */
  .sec1_title_hashtag {
    width: 100%;
  }
  .sec1_title_hashtag > p {
    padding: 15px 20px;
  }
  /* 섹션 1번 - 카드 영역 */
  .sec1_card_wrap {
    width: 100%;
    animation: none;
    display: block;
  }
  .sec1_card_box:not(
      .sec1_card_box:nth-of-type(4),
      .sec1_card_box:nth-of-type(5),
      .sec1_card_box:nth-of-type(6)
    ) {
    display: none;
  }
  .sec1_card_box {
    width: 100%;
    margin-bottom: 30px;
  }
  .sec1_card_right {
    padding: 80px 4vw;
  }
  .sec1_card_right > h3 {
    font-size: 26px;
  }
  .sec1_card_right > div:nth-of-type(2) {
    font-size: 18px;
  }
  /* 섹션 2번 - 자유게시판 영역 */
  .sec2_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec2_board > div {
    width: 100%;
  }

  .main_board_wrap {
    display: block;
  }
  .main_board_img {
    margin: 0px auto;
  }
  .board_text {
    width: fit-content;
    margin: 0px auto;
    padding: 30px 0px;
    height: fit-content;
  }
  .board_box {
    padding: 0px 10px;
    justify-content: space-between;
  }
  .board_line {
    margin-top: 10px;
  }
  .board_box > p:nth-of-type(1),
  .board_box > p:nth-of-type(5),
  .board_box > p:nth-of-type(6) {
    display: none;
  }
  .board_box > p:nth-of-type(2) {
    border: none;
    margin-right: 20px;
  }
  .board_box > p:nth-of-type(3) {
    width: 85%;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .board_box > a {
    width: 25%;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: center;
  }
  .board_box > img {
    display: none;
  }
  /* 섹션 3번 - 공략게시판 영역 */
  .sec3_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec3_board > div {
    width: 100%;
  }
  .sec3_board > div > .main_board_wrap > .main_board_img {
    display: block;
    width: 450px;
    margin: 0px auto;
  }
  .main_board_img > a:nth-of-type(2),
  .main_board_img > a:nth-of-type(3) {
    display: none;
  }
  .board_box > p:nth-of-type(4) {
    width: 100px;
    text-align: end;
  }
}

/* 테블릿-md, 작은 노트북 */
@media screen and (min-width: 1025px) and (max-width: 1250px) {
  /* 타이틀 공통 영역 */
  .title_box {
    width: 100%;
    margin: 0px;
  }
  /* 섹션 1번 영역 */
  .sec1_community {
    padding: 100px 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  /* 섹션 2번 - 자유게시판 영역 */
  .sec2_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec2_board > div {
    width: 100%;
  }

  .main_board_wrap {
    display: block;
  }
  .main_board_img {
    margin: 0px auto;
  }
  .board_text {
    width: fit-content;
    margin: 0px auto;
    padding: 30px 0px;
    height: fit-content;
  }
  .board_box {
    padding: 0px 10px;
    justify-content: space-between;
  }
  .board_line {
    margin: 0px auto;
    margin-top: 10px;
    width: 90%;
  }

  .board_box > p:nth-of-type(1) {
    width: 50px;
    text-align: center;
  }
  .board_box > p:nth-of-type(5) {
    width: 100px;
  }

  .board_box > p:nth-of-type(6) {
    display: none;
  }
  .board_box > p:nth-of-type(2) {
    margin-right: 20px;
  }
  .board_box > p:nth-of-type(3) {
    width: 85%;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .board_box > a {
    width: 25%;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: center;
  }
  .board_box > img {
    display: none;
  }
  /* 섹션 3번 - 공략게시판 영역 */
  .sec3_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec3_board > div {
    width: 100%;
  }
  .sec3_board > div > .main_board_wrap > .main_board_img {
    display: flex;
    width: fit-content;
    margin: 0px auto;
    gap: 20px;
  }
  .main_board_img > a:nth-of-type(3) {
    display: none;
  }
  .board_box > p:nth-of-type(3) {
    width: 600px;
  }
  .board_box > p:nth-of-type(4) {
    width: 100px;
    text-align: end;
  }
  .board_box > p:nth-of-type(5) {
    width: 90px;
    text-align: end;
  }
}

/* 테블릿-lg, 일반 노트북 */
@media screen and (min-width: 1251px) and (max-width: 1440px) {
  /* 타이틀 공통 영역 */
  .title_box {
    width: 100%;
    margin: 0px;
  }
  /* 섹션 1번 영역 */
  .sec1_community {
    padding: 100px 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  /* 섹션 2번 - 자유게시판 영역 */
  .sec2_board > div > .title_box {
    width: 80%;
    margin: 0px auto;
  }
  .sec3_board > div > .title_box {
    width: 80%;
    margin: 0px auto;
  }
  .sec2_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec2_board > div {
    width: 80%;
    justify-content: center;
  }

  .main_board_wrap {
    display: block;
  }
  .main_board_img {
    margin: 0px auto;
  }
  .board_text {
    width: fit-content;
    margin: 0px auto;
    padding: 30px 0px;
    height: fit-content;
  }
  .board_box {
    padding: 0px 10px;
    justify-content: space-between;
  }
  .board_line {
    margin: 0px auto;
    margin-top: 10px;
    width: 80%;
  }
  .board_box > p:nth-of-type(1) {
    width: 50px;
    text-align: center;
  }
  .board_box > p:nth-of-type(5) {
    width: 100px;
  }
  .board_box > p:nth-of-type(6) {
    display: none;
  }
  .board_box > p:nth-of-type(2) {
    margin-right: 20px;
  }
  .board_box > p:nth-of-type(3) {
    width: 85%;
    line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .board_box > a {
    width: 25%;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: center;
  }
  .board_box > img {
    display: none;
  }
  /* 섹션 3번 - 공략게시판 영역 */
  .sec3_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec3_board > div {
    width: 100%;
  }
  .sec3_board > div > .main_board_wrap > .main_board_img {
    display: flex;
    width: fit-content;
    margin: 0px auto;
    gap: 20px;
  }
  .main_board_img > a:nth-of-type(3) {
    display: none;
  }
  .board_box > p:nth-of-type(3) {
    width: 600px;
  }
  .board_box > p:nth-of-type(4) {
    width: 100px;
    text-align: end;
  }
  .board_box > p:nth-of-type(5) {
    width: 90px;
    text-align: end;
  }
}

/* pc */
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  /* 타이틀 공통 영역 */
  .title_box {
    width: 100%;
    margin: 0px;
  }
  /* 섹션 1번 영역 */
  .sec1_community {
    padding: 100px 15px;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
  .sec2_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec2_board > div {
    width: 100%;
    justify-content: space-between;
  }
  .sec3_board {
    padding: 0px 15px;
    box-sizing: border-box;
  }
  .sec3_board > div {
    width: 100%;
  }
  .sec3_board > div > .main_board_wrap > .main_board_img > a {
    width: 450px;
  }
}
