@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("../../reset.css");
@import url("../../common.css");

/* 섹션 1번 - 소식 영역 */
.sec1_community {
  width: 100%;
  height: fit-content;
  padding-top: 100px;
  overflow: hidden;
}

.sec1_community > div {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

/* 타이틀 공통 영역 */
.title_box {
  width: 1460px;
  height: fit-content;
  display: flex;
  margin: 0px auto;
  align-items: center;
}

.title_box > div:nth-of-type(2) {
  margin-left: 30px;
}

.title_box > div:nth-of-type(2) > p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.title_box > div:nth-of-type(2) > h2 {
  font-size: 38px;
  font-weight: 700;
}

.sec1_title_hashtag {
  width: 1460px;
  height: fit-content;
  display: flex;
  margin: 30px auto;
}

.sec1_title_hashtag > p {
  padding: 15px 40px;
  border-radius: 32px;
  color: #fff;
  margin-right: 20px;
  font-weight: 500;
  background-color: #e54242;
}

.sec1_title_hashtag > p:nth-of-type(2) {
  background-color: #ffce33;
}

.sec1_title_hashtag > p:nth-of-type(3) {
  background-color: #40c639;
}

.sec1_title_hashtag > p:nth-of-type(4) {
  background-color: #316cff;
}

/* 섹션 1번 - 카드 영역 */
.sec1_card_wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-top: 60px;
  gap: 30px;
  animation: sec1_slide 30s linear infinite;
  margin-bottom: 160px;
}

@keyframes sec1_slide {
  0% {
    transform: translateX(-2.71%);
  }
  100% {
    transform: translateX(-53%);
  }
}

.sec1_card_wrap:hover {
  animation-play-state: paused;
}

.sec1_card_box {
  width: 975px;
  height: 440px;
  background-color: #fafafa;
  border-radius: 32px;
  overflow: hidden;
  border: 1px solid #f5f5f5;
}

.sec1_card_box > a {
  display: flex;
}

.sec1_card_left {
  width: 50%;
  height: 440px;
  background-color: #ddd;
  overflow: hidden;
}

.sec1_card_left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec1_card_right {
  width: 50%;
  height: 440px;
  padding: 80px 65px;
  box-sizing: border-box;
  padding-right: 30px;
}

.sec1_card_right > h3 {
  font-size: 30px;
  font-weight: 600;
  color: #101010;
}

.sec1_card_right > div:nth-of-type(1) {
  display: flex;
  font-size: 16px;
  margin-top: 30px;
  color: #8a8a8a;
  margin-bottom: 135px;
  gap: 10px;
}

.sec1_card_right > div:nth-of-type(2) {
  font-size: 20px;
  color: #101010;
  font-weight: 400;
}

.sec1_card_right > div:nth-of-type(2) > p:first-child {
  margin-bottom: 18px;
}

/* 섹션 2번 - 자유게시판 영역 */
.sec2_board {
  width: 100%;
  height: fit-content;
  margin-bottom: 220px;
}

.sec2_board > div {
  width: 1460px;
  margin: 0px auto;
}

.main_board_wrap {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.main_board_img {
  width: 710px;
  height: 441px;
  overflow: hidden;
  border-radius: 32px;
}

.board_text {
  width: 680px;
  height: 441px;
  padding: 70px 0px;
  box-sizing: border-box;
}

.board_text > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 20px;
}

.board_text > div:nth-of-type(1) > p {
  font-size: 15px;
  font-weight: 500;
  padding: 7px 10px;
  background-color: #ff5252;
  color: #fff;
  border-radius: 5px;
}

.board_text > div:nth-of-type(1) > h2 {
  font-size: 30px;
  font-weight: 700;
  color: #101010;
}

.board_text > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.board_text > div:nth-of-type(2) > p {
  font-size: 16px;
  color: #777;
  font-weight: 300;
}

.board_text > p {
  font-size: 22px;
  font-weight: 400;
  color: #5c5c5c;
  margin-bottom: 10px;
}

.board_text > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board_text > div:nth-of-type(3) > p {
  font-size: 21px;
  margin-top: 50px;
  color: #8d8d8d;
  font-weight: 300;
}

.board_text > div:nth-of-type(3) > p:nth-of-type(1) {
  font-size: 16px;
}

.board_text > div:nth-of-type(3) > p:nth-of-type(2) {
  font-size: 17px;
  padding-right: 75px;
}

.board_line {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
}

.board_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94px;
  padding: 0px 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
}

.board_box > p:nth-of-type(1) {
  font-size: 15px;
  font-weight: 500;
  padding: 7px 10px;
  background-color: #ff5252;
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
}

.board_box > p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  padding-left: 30px;
  border-left: 2px solid #ebebeb;
  width: 75px;
}

.board_box > p:nth-of-type(3) {
  color: #767676;
  margin-right: 10px;
}

.board_box > p:nth-of-type(4) {
  margin-left: auto;
  margin-right: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #989898;
}

.board_box > p:nth-of-type(5) {
  margin-right: 20px;
  font-weight: 300;
  color: #989898;
}

.board_box > p:nth-of-type(6) {
  font-weight: 300;
  color: #989898;
}

.board_box:nth-of-type(4) {
  border: none;
}

.board_box > a {
  height: 29px;
  display: flex;
  align-items: center;
  line-height: 10px;
  margin-left: 30px;
  gap: 10px;
  color: #000;
  padding-left: 35px;
  border-left: 2px solid #ebebeb;
  margin-left: 35px;
}

.board_box > a > img {
  width: 22px;
  height: 22px;
}

/* 섹션 3번 - 공략게시판 영역 */
.sec3_board {
  width: 100%;
  height: fit-content;
  margin-bottom: 220px;
}

.sec3_board > div {
  width: 1460px;
  margin: 0px auto;
}

.sec3_board > div > .main_board_wrap > .main_board_img {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.sec3_board > div > .main_board_wrap > .main_board_img > a {
  width: 470px;
  height: 294px;
  background-color: #dddddd;
  border-radius: 32px;
  overflow: hidden;
}

.sec3_board > div > .board_line > .board_box > p:nth-of-type(1) {
  font-size: 15px;
  font-weight: 500;
  padding: 7px 10px;
  background-color: #ffd752;
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
}

/* 버튼 공통속성 */
.plus_button {
  width: fit-content;
  height: fit-content;
  margin-top: 58px;
  margin-left: auto;
}

.plus_button > a {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  padding-left: 45px;
  gap: 20px;
  border-radius: 32px;
  background-color: #101010;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
  margin-bottom: 130px;
}

.plus_button > a:hover {
  background-color: #101010bd;
}
