@charset "utf-8";

/* mobile */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}
